* {
    margin: 0;
    padding: 0;
}

header {
    background: red;
    padding: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    color: white;
    text-transform: uppercase;
    font-size: 1.5  rem;
}

div {
    width: 100%;
    height: 100vh;
    background: url(https://c4.wallpaperflare.com/wallpaper/439/444/53/shrek-donkey-shrek-wallpaper-preview.jpg) no-repeat;
    background-size: cover;
}